.container-navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;

    .logo {
        background-image: url('');

        /* width: 50%; */
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 26px;
        }
    }

    .links {
       
        ul {
            display: flex;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin: 26px;
                }
            }
        }
    }

}